<div class="option-panel">

    <div class="form-check form-switch">
        <label class="form-check-label" for="performance">Show Performances</label>
        <input class="form-check-input input-switch" type="checkbox" role="switch" id="performance">
    </div>
    <div class="form-check form-switch">
        <label class="form-check-label" for="socketEngine">Socket Engine</label>
        <input class="form-check-input input-switch" type="checkbox" role="switch" id="socketEngine">
    </div>
    <div class="form-check form-switch">
        <label class="form-check-label" for="photonEngine">Photon Engine</label>
        <input class="form-check-input input-switch" type="checkbox" role="switch" id="photonEngine">
    </div>

    <button style="padding: 10px; margin: 10px; border: 1px solid rgb(224, 224, 224); border-radius: 10px; background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 48%, rgb(250, 250, 250) 100%); box-shadow: rgb(136, 136, 136) 0px 2px 2px; text-align: center; cursor: pointer; transition: all 0.5s ease 0s; width: 300px;">
        Show Map
    </button>
</div>
