.option-panel {
  margin-top: 100px;
}

.input-switch {
  float: right;
  width: 45px;
  height: 25px;
  color: #59174E;
}

.form-switch {
  padding-left: 0px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}
