<div class="chat-panel">
    <div class="box-chat">
        <br>[info] Peer created with id: 1212
        <br>[info] Trying connection to peer: 12
        <br>[info] Trying connection to peer: 12
        <br>[info] Trying connection to peer: 124
    </div>

    <div class="input-send-message">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="enter text" aria-label="enter text"
                   aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button">Send</button>
        </div>
    </div>
</div>
